.mapWrapper {
    width: 100%;
}

.errorResult{
    color: red;
    font-size: bold;
    z-index: 500;
}

.page {
    /* height: 100vh; */
    box-sizing: border-box; 
    /* padding and margin will be part of the element's width/height without adding to it */
    position: absolute;
    width: 100vw;
    height: 425px;
    padding-top:50px;
    background-color: #000000;
}

.leaflet-popup-content-wrapper{
    background-color: rgba(0, 54, 61, 0.7) ;
    color: white;
}

.leaflet-popup-tip{
    background-color: rgba(0,54,61, 0.75) ;
}


#all-pages {
    position: relative;
    width:100vw;
    height: 425px;
}

.aboutNav{
    position:absolute;
    z-index: 100;
    width: 100vw;
    margin-left: auto;
}
.mapSearchDiv{
    min-width: 100px;
    width: 100vw; 
}

.searchResultWrapper{
    width: 74vw;
}

.marginAuto{
    display:flex;
    margin: auto;
   
}

.searchbar{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.searchButton{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


@media screen and (min-width:1000px) {
    #wrapper {
        position: relative;    
    }
    .carousel-item{
        /* max-height: 260px;
        min-width: 640px; */
        background-image: cover;
        height: 70vh;
    }
    .engage {
        min-height: 420px;
    }
    #cta {
        position: absolute;
        top: 5%;
        right: 10%;
        opacity: 0.9;
    }

}

/* @media screen and (max-width:819px) {
    #wrapper {
        position: relative;
        height: 700px;
}
} */

 @media screen and (min-width:600px) { 
.recycleMap {
    
    height: 450px;
    width: 100vw;

  
    margin: auto;
    object-fit:cover
    
 }


 .mapToggleButtons{
    position:absolute;
    top:410px;
    left:10px;
    z-index: 505;
    display:block;
}
 
 }


@media screen and (max-width: 599px) { 
    
    .recycleMap {
    
        height: 350px;
        width: 100vw;

        margin: auto;
        object-fit:cover
        
      }
      .mapToggleButtons{
        position:absolute;
        top:310px;
        left:10px;
        z-index: 505;
        display:block;
    }
    .reuse img {
        width: 600px;
        height: 280px;
        
       
    }

  }  

.zoomWrapper{
    position:absolute;
    top: 42px;
    left: 20px;
    z-index: 505;
    display:block;
}
.zoomBtn{
    color: white;
    background:#00522a;
    width: 30px;
    height: 29px;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    /* text-align: center; */
    
}

.zoomBtn:hover{
    background:rgba(0, 54, 61, 0.7);
}


.leaflet-control-attribution.leaflet-control {
    display:none;
}






.contactUsButton {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: fixed;
    bottom: 6vw;
    right: 5vw;
    z-index: 401;
    text-align: center;
    background: rgba(0, 225, 255, 0.7);
    border-radius: 10vw;
    align-items: center;
    display: flex;
    /* left bottom right*/
}

.searchList{
    position:absolute;
    top:38px;
    /* height: 500px; */
    background: rgba(255,255,255,0.7);
    z-index: 500;
    width:64vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



.legendWrapper{
    width: 100vw;
    display:flex;
    border: 2px solid rgba(0,54,61, 0.75);
    box-shadow: 0px 4px 5px 3px rgba(0,54,61, 0.3);
}

.popover{
    z-index: 601 !important;
}

.search-result {
    padding: 10px;
    border-bottom: 1px solid grey;
}
.search-result:hover {
    /* background:rgba(1, 225, 255, 0.2); */
    background:	rgb(220,220,220);
    /* opacity: 0.6; */
}

html,body{
    overflow-x: hidden !important;
}
/* Hide scrollbar for IE and Edge */

.example {
    -ms-overflow-style: none;
}






#searchInput{

    z-index: 505;
}

#searchMapBtn{
    background-color:#00522a;
    z-index: 505;
}




.legendIcon{
    width: 45px;
    height:45px;
    padding:5px;
    
}



                     */
.border-success{
    height:150px;
    width:auto
}


.modal-open[style] {
    padding-right: 0px !important;
    }


.recycleMap .leaflet-control-layers.leaflet-control{
    margin-right: 20px;
    margin-top: 0px;
}

.recycleMap .leaflet-control-layers-toggle{
    background-color: #00522a;
    border-radius: 3px;
}

.feedbackDropdown{
    margin-top: 3px;
}

/* .border-2{
   border-color: #00522a;
} */

.reuse img {
    width: 80%;
    display: block;
    margin: 10px auto;
   
}