.mapWrapper {
    width: 100%;
}

.page {
    /* height: 100vh; */
    box-sizing: border-box; 
    /* padding and margin will be part of the element's width/height without adding to it */
    position: absolute;
    width: 100vw;
    height: 425px;
    padding-top:50px;
    background-color: #000000;
}

.leaflet-popup-content-wrapper{
    background-color: rgba(0, 54, 61, 0.7) ;
    color: white;
}

.leaflet-popup-tip{
    background-color: rgba(0,54,61, 0.75) ;
}

/* #page-1 {
    background-color: #080808 ;
} */

/* #page-2 {
    background-color: #080808;
}

#page-3 {
    background-color: #101010;

} */
#all-pages {
    position: relative;
    width:100vw;
    height: 425px;
}

.aboutNav{
    position:absolute;
    z-index: 100;
    width: 100vw;
    margin-left: auto;
}
.mapSearchDiv{
    min-width: 100px;
    width: 100vw; 
}


.marginAuto{
    display:flex;
    margin: auto;
    width: 74vw;
}

.searchbar{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.searchButton{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.aboutTab{
    background: none;
}
.mynav.nav-link.active{
    background-color: rgba(49, 255, 66, 0.0) !important;
    color:white;
    border: 1px solid black;
}
.mynav.nav-link{
    border: 1px solid rgba(0,0,0,0.2);
    /* background-color: rgba(255, 255, 255, 0.5) !important; */
    /* color:black; */
}
.hidden {
    /* move hidden page to the
    left by 100% of its width */
    transform: translateX(-100%);
    transition: transform 1s;
    z-index: 2;
}

.show {
    transform: translateX(0);
    transition: transform 0.5s;
    z-index: 3;
}


/* @media screen and (min-width:600px) { */
.recycleMap {
    /* Difference screen size,
    show differnt map width and height @media screen {} */
    height: 450px;
    width: 100vw;

    /* height: fit-content;
    width: fit-content; */
  
    margin: auto;
    object-fit:cover
    
 }
/* } */
/* 




@media screen and (max-width: 599px) { 
    .recycleMap {
        /* Difference screen size,
        show differnt map width and height @media screen {} */
        /* height: 250px;
        width: 100vw; */
        /* width: 300px; */
        /* height: fit-content;
        width: fit-content; */
        /* width: 100%; height: 100%; */
        /* margin: auto;
        object-fit:cover */
        
     /* }
  }  */
.leaflet-control-attribution.leaflet-control {
    display:none;
}





.contactUsButton {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: fixed;
    bottom: 6vw;
    right: 5vw;
    z-index: 401;
    text-align: center;
    background: rgba(0, 225, 255, 0.7);
    border-radius: 10vw;
    align-items: center;
    display: flex;
    /* left bottom right*/
}

.searchList{
    position:absolute;
    top:0px;
    /* height: 500px; */
    background: rgba(255,255,255,0.9);
    z-index: 500;
    width:69vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-result {
    padding: 10px;
    border-bottom: 1px solid grey;
}

html,body{
    overflow-x: hidden !important;
}
/* Hide scrollbar for IE and Edge */

.example {
    -ms-overflow-style: none;
}

@media screen and (min-width:768px) {
    #wrapper {
        position: relative;
    }
    .carousel-item{
        /* max-height: 260px;
        min-width: 640px; */
        background-image: cover;
        height: 80vh;
    }
    .engage {
        min-height: 420px;
    }
    #cta {
        position: absolute;
        top: 5%;
        right: 10%;
        opacity: 0.8;
    }
    /* .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x));
        margin-left: calc(var(--bs-gutter-x) * -.5);
    } */
}


.alert-red{
    opacity:0.6;
    line-height: 1
}
/* css */

#searchInput,#searchMapBtn{

    z-index: 505;
}

.mapToggleButtons{
    position:absolute;
    top:310px;
    left:10px;
    z-index: 505;
    display:block;
}

#toggle-cluster-btn{
    /* position:absolute;
    top:310px;
    left:60px;
    z-index: 505;
    display:block; */

}

.legendIcon{
    width: 50px;
    height:50px;
    padding: 5px;
}

#btnToggle{
    /* position:absolute;
    top:310px;
    left:20px;
    z-index: 505;
    display:block; */

}

.modal-backdrop.show{
    z-index: 1000;
}

.modal.fade.show{
    z-index: 1001;
}

/* #searchMapBtn{
    z-index: 505;

}
                     */
.border-success{
    height:150px;
    width:auto
}


.modal-open[style] {
    padding-right: 0px !important;
    }


.recycleMap .leaflet-control-layers.leaflet-control{
    margin-right: 20px;
}

/* .border-2{
   border-color: #00522a;
} */



